<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="header">
    <div id="logo"><a href="/"><h1>Insta485</h1></a> </div>
    <div id="explore">
        <a href="{{ url_for('show_login') }}">login</a>
    </div>
</div>
<div id="contents">
    <form action="/accounts/?target=/"
        method="post" enctype="multipart/form-data">

        Photo:    <input type="file" name="file" required /><br><br>
        Name:     <input type="text" name="fullname" required /><br><br>
        Username: <input type="text" name="username" required /><br><br>
        Email:    <input type="text" name="email" required /><br><br>
        Password: <input type="password" name="password" required /><br><br>
        <input type="submit" name="signup" value="sign up" />
        <input type="hidden" name="operation" value="create" />
    </form>
    <br>
    <p>Have an account? <a href="/accounts/login/" style="font-weight: bold">Login</a></p>
</div>
</body>
</html>
