<!DOCTYPE html>
<html lang="en">
  <head>
    <title>insta485</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div id="header">
      <div id="logo">
        <a href="/"><h1>Insta485</h1></a>
      </div>
      <div id="explore">
        <a href="/explore/">explore</a>|<a href="/users/{{ logname }}/"
          >{{ logname }}</a
        >
      </div>
    </div>
    <div id="contents">
      <div style="font-size: 20px; font-weight: bold">
        <img
          src="{{ url_for('get_img', filename=user_img_url) }}"
          alt="logged user"
          class="post_icon"
        />
        <p>{{ logname }}</p>
      </div>
      <br />
      <div>
        <!-- Submit Edition of Photo/Name/Email-->
        <form
          action="/accounts/?target=/accounts/edit/"
          method="post"
          enctype="multipart/form-data"
        >
          Photo <input type="file" name="file" accept="image/*" /><br />
          Name
          <input
            type="text"
            name="fullname"
            value="{{fullname}}"
            required
          /><br />
          Email
          <input type="text" name="email" value="{{email}}" required /><br />
          <input type="submit" name="update" value="submit" /><br />
          <input type="hidden" name="operation" value="edit_account" />
        </form>
      </div>

      <br />

      <!-- Button for Change password-->
      {% if logname == username %}
      <div style="font-size: 20px; font-weight: bold">
        <a href="/accounts/password/">Change password</a>
      </div>

      <br />

      <!-- Button for Delete account-->
      <div style="font-size: 20px; font-weight: bold">
        <a href="/accounts/delete/">Delete account</a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
