<!DOCTYPE html>
<html lang="en">
<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div id="header">
    <div id="logo"><a href="/"><h1>Insta485</h1></a> </div>
    <div id="explore">
        <a href="/explore/">explore</a>|<a href="/users/{{ logname }}/">{{ logname }}</a>
    </div>
</div>

<div id="contents">
    <div class="personal_info">
        <div class="username"><h1>Discover People</h1></div>
    </div>

    {% for follower in not_following %}
        <div class="post">
            <div class="post_header">
                <div class="post_user"><a href="/users/{{ follower.username }}/">
                    <div style="float: left">
                        <img src="{{ url_for('get_img',filename=follower.filename) }}"
                             class="post_icon" alt="post_icon">
                    </div>
                    <div style="float: left; padding-left: 10px"><p>{{ follower.username }}</p></div>
                </a></div>

            </div>
            <form action="/following/?target=/explore/"
                method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow" />
                <input type="hidden" name="username" value="{{ follower.username }}" />
                <input type="hidden" name="operation" value="follow" />
            </form>
        </div>
    {% endfor %}


</div>
</body>
</html>
