<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>insta485</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/"><h1>Insta485</h1></a>
      </div>
      <div id="explore">
        <a href="/accounts/login/" style="font-weight: bold">login</a>
      </div>
    </div>

    <div id="contents">
      <form
        action="/accounts/?target=/"
        method="post"
        enctype="multipart/form-data"
      >
        Username:
        <input type="text" name="username" alt="username" required /><br />
        Password:
        <input type="password" name="password" alt="password" required /><br />
        <input type="submit" value="login" />
        <input type="hidden" name="operation" value="login" />
      </form>
      <p>
        Don't have an account?
        <a href="/accounts/create/" style="font-weight: bold">Sign up</a>
      </p>
    </div>
  </body>
</html>
